@page
@model ImperialInventoryManagement.Pages.CreateCategoryModel
@{
}

<div class="container">
    <form id="form" method="post" onsubmit="handleSubmit()">
        <div class="form-group">
            <label asp-for="Category.Name" class="control-label"></label>
            <br />
            <input asp-for="@Model.Category.Name" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category.Description" class="control-label"></label>
            <br />
            <textarea rows="5" cols="120" asp-for="Category.Description"></textarea>
            <span asp-validation-for="Category.Description"></span>
        </div>

        <div class="form-group">
            <br />
            <input type="submit" />
        </div>
    </form>
</div>
