@page
@model ImperialInventoryManagement.Pages.HomeModel
@{
}
<div class="text-center">
    <h1><a class="nav-link text-light" asp-page="/Facilities">Facilities</a></h1>
    <h1><a class="nav-link text-light" asp-page="/Shipments">Shipments</a></h1>
    <h1><a class="nav-link text-light" asp-page="/CreateCategory">Create a New Category </a></h1>
    <h1><a class="nav-link text-light" asp-page="/CreateItem">Create a New Item</a></h1>

</div>